$primary-color: #49b5f6;

$header-color: #3d4d53;

$bottom-menu: #59656e;

$white: #fff;

$brands-item__icon: #a1a5a7;

$lightgray: lightgray;

$footer-middle-section_h: #768896;

$footer-middle-section_p: #768896;

