$color-49b5f6: #49b5f6;

$color-3d4d53: #3d4d53;

$color-59656e: #59656e;

$color-fff: #fff;

$color-a1a5a7: #a1a5a7;

$color-d3d3d3: #d3d3d3;

$color-768896: #768896;

$color-8b9ca8: #8b9ca8;

$color-58646d: #58646d;

$color-93a4b1: #93a4b1;

$color-c1c1c1: #c1c1c1;

$color-cbccce: #cbccce;

$color-cfe7fa: #cfe7fa;

$color-4e5b64: #4e5b64;

$color-242a2f: #242a2f;

$color-1f2529: #1f2529;

$color-2c363c: #2c363c;

$color-191c1f: #191c1f;

$color-5a666f: #5a666f;

$color-9d9d9d: #9d9d9d;

$color-f8f9fa: #f8f9fa;

$color-dce7ec: #dce7ec;

$color-90a1ae: #90a1ae;

$color-ebf2f5: #ebf2f5;

$color-212529: #212529;

$color-007bff: #007bff;

$color-0056b3: #0056b3;

$color-6c757d: #6c757d;

$color-4F7879: #4F7879;

$color-9AB3AC: #9AB3AC;