@import "_utils";

.carousel-indicators {
    right: 5%;
    left: inherit;
    position: absolute;
    bottom: 10px;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
  
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

.carousel-indicators .active {
    background-color: $color-49b5f6;
    border: solid 3px $color-fff;
}