@import "_utils";

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  padding: 10px 0 10px 0;
  font-size: 15px;
  color: $color-d3d3d3;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contacts__item-icon {
  color: $color-49b5f6;
  margin-right: 1ch;
}