@import "_utils";

.features-list-item {
  padding: 10px 0 10px 0;
}

.features-list-item__square {
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list-item__h3 {
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: $header-color;
  margin-bottom: 10px;
  font-size: 15px;
}

.features-list-item__p {
  overflow-wrap: break-word;
  color: $lightgray;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.features-list-item__icon {
  color: $white;
  font-size: 22px;
}
