@import "_utils";

.footer-middle-section2-list {

}

.footer-middle-section2-list__item {
  margin-bottom: 5px;
  height: 62px
}

.footer-middle-section2-list__square {
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-middle-section2-list__item:hover .footer-middle-section2-list__square {
  background-color: $primary-color;
}

.footer-middle-section2-list__h3 {
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: $footer-middle-section_h;
  margin-bottom: 10px;
  font-size: 13px;
}

.footer-middle-section2-list__item:hover .footer-middle-section2-list__h3 {
  color: #cbccce;
}

.footer-middle-section2-list__h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: $footer-middle-section_h;
  font-size: 11px;
}

.footer-middle-section2-list__square-icon {
  display: none;
}

.footer-middle-section2-list__item:hover .footer-middle-section2-list__square-icon {
  color: white;
  display: block;
}