@import "_utils";

.navigation-logo {
  display: flex;
  padding: 15px 0 10px 0;
}

.navigation-logo__pic {
  display: block;
  height: 58px;
}

.navigation-logo__text {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-3d4d53;
}

b {
  font-weight: bold;
}
