.navigation-logo {
  display: flex;
  padding: 10px 0 10px 0;
}

.navigation-logo__pic {
  display: block;
}

.navigation-logo__text {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d4d53;
  padding: 15px 0 15px 0;
}

b {
  font-weight: bold;
}
