.reasons-article {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.reasons-article__h1 {
  font-size: 26px;
  color: $header-color;
}

.reasons-article__p {
  font-size: 15px;
  color: darkgrey;
}