@import "_utils";

.slider-article {
  padding: 50px;
  color: $color-fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

.slider-article__h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
}

.slider-article__h2 {
  text-transform: uppercase;
  font-size: 22px;
}

.slider-article__p {
  overflow-wrap: break-word;
  font-size: 20px;
}