.features-list {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.features-list__item {
  width: 33%;
  padding-top: 10px;
}

.features-list__square {
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #49b5f6;
}

.features-list__h3 {
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d4d53;
  margin-bottom: 10px;
  font-size: 15px;
}

.features-list__p {
  overflow-wrap: break-word;
  color: lightgray;
  font-size: 12px;
}

.features-list__icon {
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
