.footer-brands-list {
  display: flex;
  position: relative;
}

.footer-brands-list__item {
  width: 9%;
  padding: 26px;
  text-align: center;
}

.icon-google-plus_brands,
.icon-last-dot-fm_brands,
.icon-xbox_brands,
.icon-pinterest_brands,
.icon-youtube_brands,
.icon-facebook_brands,
.icon-twitter_brands,
.icon-tumblr_brands,
.icon-linkedin2_brands,
.icon-leaf_brands {
  color: #a1a5a7;
  font-size: 28px;
}