.footer-brands-list {
  display: flex;
  position: relative;
}

.footer-brands-list__item {
  width: 9%;
  padding: 26px;
  text-align: center;
}

.footer-brands-list__icon {
  color: #a1a5a7;
  font-size: 28px;
}