.footer__brands {
  height: 85px;
  background-color: #242a2f;
  border-bottom: 1px solid #1f2529;
}

.footer__brands-content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer__brands-list {
  display: flex;
  position: relative;
}

.footer__brands-item {
  padding: 30px;
  text-align: center;
}

.icon-google-plus,
.icon-last-dot-fm,
.icon-xbox,
.icon-pinterest,
.icon-youtube,
.icon-facebook,
.icon-twitter,
.icon-tumblr,
.icon-linkedin2,
.icon-leaf {
  color: #a1a5a7;
  font-size: 28px;
}