.footer-middle-section1 {
  
}

.footer-middle-section1__h3 {
  font-size: 13px;
  margin-bottom: 10px;
  color: #768896;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-middle-section1__p {
  font-size: 13px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: #768896;
}

.footer-middle-section1__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px solid rgba(88,100,109,0.5);
  font-family: Arial, Helvetica, sans-serif;
  color: #58646d;
}

.footer-middle-section1__logo-pic {
  height: 50px;
  width: 60px;
  display: block;
  float: left;
  padding: 5px;
}

.footer-middle-section1__logo-text {
  padding: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #93a4b1;
}