.footer-bottom-menu {
  display: flex;
  padding: 5px;
  float: right;
  margin: 0;
}

.footer-bottom-menu__item {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #59656e;
  font-size: 15px;
}

.footer-bottom-menu__item:hover {
  color:#8b9ca8;
}