.footer-middle-section3-list {

}

.footer-middle-section3-list__tag {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background-color: #191c1f;
  color: #4e5b64;
  font-family: Arial, Helvetica, sans-serif;
}