.bottom-copyright {
  padding: 15px 0 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #59656e;
  font-size: 15px;
}

.bottom-menu-item {
  padding: 15px 0 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #59656e;
  font-size: 15px;
}

.bottom-menu-item:hover {
  color: #8b9ca8;
}

.bottom-menu {
  display: flex;
}

.brands-item {
  padding: 21px 0 21px 0;
  text-align: center;
}

.brands-item__icon {
  color: #a1a5a7;
  font-size: 28px;
}

.cart {
  float: right;
  padding: 10px 0 10px 0;
  font-size: 15px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.cart__badge {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #49b5f6;
}

.cart__icon {
  color: #49b5f6;
}

.carousel-button {
  opacity: 1;
  width: 50px;
  height: 50px;
  top: 50%;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.carousel-button_next {
  right: 0;
}

.carousel-button_prev {
  left: 0;
}

.carousel-button__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-indicators {
  right: 5%;
  left: inherit;
  position: absolute;
  bottom: 10px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
  background-color: #49b5f6;
  border: solid 3px white;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  padding: 10px 0 10px 0;
  font-size: 15px;
  color: lightgray;
  margin-right: 10px;
}

.contacts__item-icon {
  color: #49b5f6;
  margin-right: 1ch;
}

.features-article {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.features-article__h1 {
  font-size: 26px;
  color: #3d4d53;
}

.features-article__p {
  font-size: 15px;
  color: lightgray;
}

.features-list-item {
  padding: 10px 0 10px 0;
}

.features-list-item__square {
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #49b5f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list-item__h3 {
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d4d53;
  margin-bottom: 10px;
  font-size: 15px;
}

.features-list-item__p {
  overflow-wrap: break-word;
  color: lightgray;
  font-size: 12px;
}

.features-list-item__icon {
  color: white;
  font-size: 22px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.features {
  padding: 30px 0 30px 0;
}

.footer-middle-content {
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-middle-section1__h3 {
  font-size: 13px;
  margin-bottom: 10px;
  color: #768896;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-middle-section1__p {
  font-size: 13px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: #768896;
}

.footer-middle-section1__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px solid rgba(88, 100, 109, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  color: #58646d;
}

.footer-middle-section1__logo-pic {
  height: 50px;
  width: 60px;
  display: block;
  float: left;
  padding: 5px;
}

.footer-middle-section1__logo-text {
  padding: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #93a4b1;
}

.footer-middle-section2-list__item {
  margin-bottom: 5px;
  height: 62px;
}

.footer-middle-section2-list__square {
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-middle-section2-list__item:hover .footer-middle-section2-list__square {
  background-color: #49b5f6;
}

.footer-middle-section2-list__h3 {
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  color: #768896;
  margin-bottom: 10px;
  font-size: 13px;
}

.footer-middle-section2-list__item:hover .footer-middle-section2-list__h3 {
  color: #cbccce;
}

.footer-middle-section2-list__h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: #768896;
  font-size: 11px;
}

.footer-middle-section2-list__square-icon {
  display: none;
}

.footer-middle-section2-list__item:hover .footer-middle-section2-list__square-icon {
  color: white;
  display: block;
}

.footer-middle-section2__h2 {
  font-size: 18px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfe7fa;
}

.footer-middle-section3-list__tag {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background-color: #191c1f;
  color: #4e5b64;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-middle-section3__h2 {
  font-size: 18px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfe7fa;
}

.footer-middle-section4-grid {
  display: flex;
  flex-wrap: wrap;
}

.footer-middle-section4-grid__item {
  height: 80px;
  width: 80px;
  margin: 5px;
  background-size: cover;
}

.footer-middle-section4__h2 {
  font-size: 18px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfe7fa;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer__top {
  background-color: #242a2f;
  border-bottom: 1px solid #1f2529;
}

.footer__middle {
  background-color: #242a2f;
  border-top: 1px solid #2c363c;
}

.footer__bottom {
  background-color: #191c1f;
}

.header {
  border-bottom: 3px solid lightgray;
  box-shadow: 1px 1px 1px lightgray;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.main-list-item {
  padding: 20px;
  text-align: center;
}

.main-list-item__h1 {
  padding: 10px;
  color: #3d4d53;
  font-size: 14px;
}

.main-list-item:hover .main-list-item__h1 {
  color: #49b5f6;
}

.main-list-item__article {
  overflow-wrap: break-word;
  color: lightgray;
  font-size: 12px;
}

.main-list-item__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  border-bottom: 1px solid rgba(73, 181, 246, 0.5);
  color: #49b5f6;
}

.main-list-item:hover .main-list-item__link {
  color: #5a666f;
  text-decoration: none;
}

.main-list-item__plaque {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #49b5f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-list-item:hover .main-list-item__plaque {
  background-color: #242a2f;
}

.main-list-item__icon {
  color: white;
  font-size: 32px;
}

.main-list {
  display: flex;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  border-bottom: 1px solid lightgray;
}

.navigation-logo {
  display: flex;
  padding: 15px 0 10px 0;
}

.navigation-logo__pic {
  display: block;
}

.navigation-logo__text {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d4d53;
}

b {
  font-weight: bold;
}

.navigation-menu-item {
  display: flex;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #9d9d9d;
}

.navigation-menu-item__icon {
  color: #9d9d9d;
}

.navigation-menu {
  display: flex;
  padding: 20px 0 20px 0;
}

.navigation {
  box-shadow: 1px 1px 1px lightgray;
}

.positioned-media {
  position: relative;
  height: 100%;
}

.positioned-media__image {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.reasons-article {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.reasons-article__h1 {
  font-size: 26px;
  color: #3d4d53;
}

.reasons-article__p {
  font-size: 15px;
  color: darkgrey;
}

.reasons-list__item {
  padding: 10px 0 10px 0;
}

.reasons-list__item-header,
.reasons-list__item-header:active,
.reasons-list__item-header:focus {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dce7ec;
  padding: 0;
  outline: none;
  box-shadow: 0;
}

.reasons-list__item-title {
  color: #90a1ae;
  text-align: left;
  padding-left: 10px;
}

.reasons-list__item-content {
  margin-left: 50px;
  margin-top: 10px;
  color: #90a1ae;
}

.reasons-list__item-square {
  height: 50px;
  width: 51px;
  border-right: 1px solid #dce7ec;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #49b5f6;
}

.collapsed .reasons-list__item-square {
  background-color: transparent;
}

.reasons-list__item-icon {
  display: block;
  font-size: 12px;
  color: white;
}

.collapsed .reasons-list__item-icon {
  color: #90a1ae;
}

.reasons-list__item-icon_open {
  display: none;
}

.reasons-list__item-icon_closed {
  display: block;
}

.collapsed .reasons-list__item-icon_open {
  display: block;
}

.collapsed .reasons-list__item-icon_closed {
  display: none;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.reasons {
  background: #ebf2f5;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 30px;
  padding-bottom: 30px;
}

.screen {
  max-width: 340px;
}

.screen__img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-article {
  padding: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

.slider-article__h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
}

.slider-article__h2 {
  text-transform: uppercase;
  font-size: 22px;
}

.slider-article__p {
  overflow-wrap: break-word;
  font-size: 20px;
}

.slider-background {
  background: linear-gradient(#4F7879, #9AB3AC);
}

.slider-block__img {
  max-width: 80%;
  display: block;
  float: right;
  margin-top: 30px;
}

.slider-button-block {
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  display: flex;
}

.slider-button-block__button {
  width: 150px;
  border: solid 1px white;
  border-radius: 0.3em;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.slider-button-block__button_active {
  background-color: #49b5f6;
  margin-right: 15px;
}

.slider-button-block__button_passive {
  background-color: transparent;
}

.slider {
  height: 450px;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=global.css.map */
