.main-list-item {
  padding: 20px;
  text-align: center;
}

.main-list-item__h1 {
  padding: 10px;
  color: #3d4d53;
  font-size: 14px;
}

.main-list-item:hover .main-list-item__h1 {
  color: #49b5f6;
}

.main-list-item__article {
  overflow-wrap: break-word;
  color: lightgray;
  font-size: 12px;
}

.main-list-item__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  border-bottom: 1px solid rgba(73,181,246,0.5);
  color: #49b5f6;
}

.main-list-item:hover .main-list-item__link {
  color: #5a666f;
}

.main-list-item__plaque {
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #49b5f6;
  border-radius: 50%;
  
}

.main-list-item:hover .main-list-item__plaque {
  background-color: #242a2f;
}

.main-list-item__icon {
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}