.navbar-logo {
  
}

.navbar-logo__pic {
  display: block;
  float: left;
}

.navbar-logo__text {
  font-size: 32px;
  float: left;
  
  font-family: Arial, Helvetica, sans-serif;
  color: #3d4d53;
}

b {
  font-weight: bold;
}
